{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="header-row">
        <div class="col-sm-7">
            <div class="header-title">
                <h1>{{ title }}</h1>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="header-buttons">
                <div class="button-row">
                    <button id="btn-add" class="btn btn-success">Sign In</button>
                    <a href="{{ url_for('home') }}"><button class="btn btn-danger">Cancel</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <!--<h4 class="section-header">Account Info</h4>-->
        <div class="input-row">
            <input id="user-name" class="form-control" name="user-name" type="text" placeholder="Enter User Name." />
        </div>
        <div class="input-row">
            <input id="password" class="form-control" name="password" type="password" placeholder="Enter Password." />
        </div>
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    </div>
</div>



<script>
    $(function() {

    });
</script>

{% endblock %}
