{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="header-row">
        <div class="col-sm-7">
            <div class="header-title">
                <h1>{{ title }} - {{ p_request.title }}</h1>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="header-buttons">
                <div class="button-row">
                    <button id="btn-edit" class="btn btn-success">Edit</button>
                    <a href="{{ url_for('home') }}"><button class="btn btn-danger">Back</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="section-header">Description</h4>
            <p>{{ p_request.description }}</p>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <h4 class="section-header">Basic Information</h4>
            <p><label>Added By:</label> {{ p_request.added_by }}</p>
            <p><label>Date created:</label> {{ p_request.date_added }}</p>

            <p><label>Category:</label> {{ p_request._category.title }}</p>

            {% if p_request.is_answered == 0 %}
            <p><label>Status:</label> Not Answered</p>
            {% else %}
            <p><label>Status:</label> Answered!</p>
            {% endif %}

            {% if p_request.is_answered == 1 %}
            <p><label>Date answered:</label> {{ p_request.date_answered }}</p>
            {% endif %}
        </div> 
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-6">
            <h4 class="section-header">Comments</h4>
            <div class="col-sm-10">
                <textarea class="form-control" id="request-comment" name="request-comment" rows="2" placeholder="Enter comment for this prayer request"></textarea>
            </div>
            <div class="col-sm-2">
                <button id="btn-add-comment" class="btn btn-success">Add</button>
            </div>
        </div>
        <div class="col-sm-6">

        </div>
    </div>
</div>

<script>
    $("#btn-edit").click(function () {

            //KAW collecting variables
            var id = "{{ p_request.prayer_request_id }}"
            console.log(id);
            data = {
                id: id,
            };

            var url = "{{ url_for('editPrayerRequest') }}"
            window.location.href = url+"/"+id;

    });

    $('#btn-add-comment').click(function () {
        var comment = $('#request-comment').val();
        alert('Sorry this feature is NOT implemented yet.\n' + 'Comment: "' + comment + '" was not added')
    });
</script>

{% endblock %}