{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="header-row">
        <div class="col-sm-7">
            <div class="header-title">
                <h1>{{ title }} - {{ p_request.title }}</h1>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="header-buttons">
                <div class="button-row">
                    <button id="btn-edit" class="btn btn-success">Edit</button>
                    <a href="{{ url_for('home') }}"><button class="btn btn-danger">Back</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-sm-7">
            <h4 class="section-header">Description</h4>
            <p>{{ p_request.description }}</p>
        </div>
        <div class="col-sm-5">
            <h4 class="section-header">Basic Information</h4>
            <p><label>Added By:</label> {{ p_request.added_by }}</p>
            <p><label>Date created:</label> {{ p_request.date_added }}</p>

            {% if p_request.is_answered == 0 %}
                <p><label>Status:</label> Not Answered</p>
            {% else %}
                <p><label>Status:</label> Answered!</p>
            {% endif %}

            {% if p_request.is_answered == 1 %}
                <p><label>Date answered:</label> {{ p_request.date_answered }}</p>
            {% endif %}
        </div> 
    </div>
</div>

<script>
        $("#btn-edit").click(function () {

        //KAW collecting variables
        var id = "{{ p_request.prayer_request_id }}"
        console.log(id);
        data = {
            id: id,
        };

        var url = "{{ url_for('editPrayerRequest') }}"
        window.location.href = url+"/"+id;

    });
</script>

{% endblock %}