body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    //max-width: 280px;
}

hr {
    height: 1px;
    background-color: #444;
    border: none;
}

/*
    Nav bar 
*/

.navbar-nav{
    float: right;
}

/*
    End Nav bar
*/


/* styles for validation helpers */
/*
    Form controls
*/
.form-control {
    border-radius: 0;
}

.btn{
    border-radius: 0;
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.button-row{
    padding: 3vh 0;
}

.input-row{
    margin: 3% 0;
}

.dropdown {
    max-height: 100px;
    overflow: auto;
}

/*
    End From Controls
*/

/*
    Index table 
*/

.prayer-request-table tbody {
    display: block;
    max-height: 400px;
    overflow-y: scroll;
}

    .prayer-request-table thead, .prayer-request-table tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

.prayer-request-table tbody tr:hover {
    background-color: #D3D3D3;
}

.selected-row {
    background-color: #D3D3D3;
}

.header-row{
    height: auto;
}

.prayer-container{
    margin: 3vh 0;
}

.table-header{
    background-color: #444;
    color: #fff;
}

.section-header {
    background-color: #444;
    color: #fff;
    padding: 7px;
}

.unanswered {
    background-color: #d9534f;
    color: #fff;
}

.answered {
    background-color: #5cb85c;
    color: #fff;
}

.header-buttons{
    float: right;
}

/*
    Prayer Request comments sections
*/

.comment-container{
    border-bottom: solid;
    border-bottom-width: 1px;
    margin: 0 0 5px 0;
}

/*
    End Prayer Request comments sections
*/

/*
    View page 
*/

.view-title {
    font-size: 1.6em;
}

.view-title-detail{
    font-size: 2.8em;
}
