body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.button-row{
    padding: 3vh 0;
}

.selected-row {
    background-color: #D3D3D3;
}

.header-row{
    background-color: lightblue;
    height: auto;
}

.prayer-container{
    margin: 3vh 0;
}

.table-header{
    background-color: #444;
    color: #fff;
}

.section-header {
    background-color: #444;
    color: #fff;
    padding: 7px;
}

.unanswered {
    background-color: #d9534f;
    color: #fff;
}

.answered {
    background-color: #5cb85c;
    color: #fff;
}

.header-buttons{
    float: right;
}